* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#logo{
  margin: 10px 0 10px;
}

#background{
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.7;
}

.calculator{
  position: relative;
}

.calculator h1{
  font-family: 'Source Code Pro';
  font-weight: 400;
  color: #d9d9d9;
  font-size: 40px;
}

#calculator {
  width: 356px;
  height: 511.28px;
  background: #062e31d0;
  border-radius: 10px;
  padding: 0px 8px;
}

.console {
  height: 150px;
  background-color: transparent;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  font-family: 'Source Code Pro';
  font-weight: 500;
  padding-bottom: 10px;
}

.console div{
  display: flex;
  align-items: flex-end;
  justify-content: right;
  width: 340px;
  height: 50%;
}

#main{
  font-size: 35px;
}

#secondary{
  font-size: 20px;
}

.keys{
  display: flex;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.key {
  width: 78.81px;
  height: 63.12px;
  background: #d9d9d9;
  border-radius: 5px;
  margin: 0px 0px 10px;
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f1e22;
}

#equalSign{
  height: 136.24px;
}

.key:hover{
  cursor: default;
  background-color: #afe2ca;
  transition: 0.2s;
}

#divGithub{
  display: flex;
  justify-content: center;
}

#githubImg{
  margin-top: 15px;
  width: 40px;
}